body{
    background-image: url(./assets/bgpic.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px;
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.main{
    height: 550px;
    width: 600px;
    border: 5px solid darkblue;
    margin-top: 20px;
    margin-left: 300px;
    padding-top: 40px;
    padding-left: 60px;
    text-align: center;
    border-top-left-radius: 30%;
    border-bottom-right-radius: 30%;
}
.main h1{
    color: antiquewhite;
    text-decoration: underline slategrey;
    text-align: center;
}
.main label{
    font-size: 25px;
    font-weight: bolder;
    color: antiquewhite;
}
.main input{
    margin-bottom: 15px;
    margin-top: 15px;
    height: 40px;
    width: 150px;
    border: 3px black solid;
    border-radius: 15px;
    text-align: center;
    font-size: 18px;
}
.main button{
    background-color: black;
    color: antiquewhite;
    border: 3px antiquewhite solid;
    border-radius: 15px;
    height: 30px;
    width: 100px;
    cursor: pointer;
    margin-top: 10px;
}
.main h3{
    color: beige;
    
}